
{% extends "layout.html" %}

{% block content %}

<table style="width:100%">

    <h3>fish album</h3>


    <td><img src="http://www.discus.co.il/he_IL/%D7%9E%D7%92%D7%93%D7%99%D7%A8/PicturesUpload/138/8c90a020-c66c-4092-8edf-440f0bed1f18.jpg" alt="Gold fish" width="250" height="150"></td>
    <td><img src="https://sfilev2.f-static.com/image/users/376822/ftp/my_files/%D7%94%D7%95%D7%A8%D7%93-6.jpg" alt="" width="250" height="150"></td>
    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Symphysodon_haraldi_Prague_2011_3.jpg/1200px-Symphysodon_haraldi_Prague_2011_3.jpg" alt="discus" width="250" height="150">s</td>
    </tr>




    <tr>

        <td><img src="https://www.aquarium-king.co.il/uploads/images/small45202.jpg?v=24052018155935" alt="" width="250" height="150"</td>
        <td>
            <img src="http://www.bizmakebiz.co.il/Media/Portfolio/0/56406.jpg" alt="" width="250"
                 height="150">
        </td>
        <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwcd2JvKixbp6EdljX74EKgwA8SCnC17SFpm0769AYPHnddxZJ6Q&s" alt="" width="250"
                 height="150">
        </td>
    </tr>
    <tr>
    </tr>
</table>

<p>Use this area to provide additional information.</p>

{% endblock %}


        